@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import "./toggle.css";
@import "./darkmode.css";
@import "./footer.css";
@import "./loading.css";

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#fa8bff, #2bd2ff);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/*end of loader section */

.section {
  height: 100vh;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

canvas {
  display: block;
}

.main-section {
  margin-top: 150px;
  margin-bottom: 100px;
}

.hello {
  font-size: 16px;
}

h1 {
  font-size: 10vw;
  line-height: 88px;
  font-family: 'Karla', sans-serif;
  color: #05284b;
}

.name {
  font-size: 10vw;
  line-height: 88px;
  font-family: 'Karla', sans-serif;

}

.bio-text {
  font-size: 7vw;
  font-family: 'Karla', sans-serif;
  color: #27556d;
}

.intro {
  font-size: 1em;
  line-height: 32px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 75px;
}

.contact-btn {
  margin-bottom: 100px;
  font-family: 'Karla', sans-serif;
}

.about {
  font-size: 1.8em;
  font-family: 'Karla', sans-serif;
  /* font-family: "Major Mono Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif; */
}

.bio {
  font-family: 'Karla', sans-serif;
  padding-right: 2em;
}

.text-section{
  margin: 150px 20px 150px;
}

.about-section {
  margin-top: 300px;
  width: 100%; 
  color: white;
  background: -webkit-linear-gradient(#fa8bff, #2bd2ff);
}

.about {
  margin-bottom: 55px;
  font-size: 2rem;
}

.bio {
  font-size: 1rem;
}

.navbar-brand {
  font-family: "Major Mono Display", cursive;
  font-weight: bold;
}

.nav-link {
  font-family: "Major Mono Display", cursive;
  font-weight: bold;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  left: 75px;
  margin-bottom: 100px;
}

.btn {
  margin-top: 100x;
}

.heart {
  color: red;
  font-size: 14px;
}

.social-icon {
  font-size: 40px;
}

p, h2 {
  font-family: 'Poppins', sans-serif;
}

.portfolio {
  height: 100vh;
}

/*projects section*/
.projects-section {
  min-height: 100vh;
  /* margin-top: 100px; */
  margin-bottom: 200px;
  line-height: 1.5;
}

.project {
  font-size: 45px;
  padding-top: 75px;
  margin-bottom: 70px;
}

.file-icon {
  font-size: 40px;
  margin-top: 20px;
}
.github-icon {
  color: #fa8bff;
  font-size: 24px;
}

.new-window-icon {
  font-size: 24px;
  color: #2bd2ff;
}

.technologies {
  font-size: 12px;
}

.gradient {
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 5px 1000px 1px #fff inset;
}

.btn {
  position: relative;
  z-index: 999;
  border: 2px solid transparent !important;
}

.gradient:hover {
  box-shadow: none;
  color: white !important;
  cursor: pointer;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.contact-btn:hover {
  list-style-type: none;
  color: white;
}



@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.active {
  background: #2bd2ff;
  background: -webkit-linear-gradient(#fa8bff, #2bd2ff, #2bff88);
  background: linear-gradient(#fa8bff, #2bd2ff, #2bff88);
  background: -moz-linear-gradient(#fa8bff, #2bd2ff, #2bff88);
  background: -o-linear-gradient(#fa8bff, #2bd2ff, #2bff88);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social_icon a i {
  font-size: 30px;
  background: -moz-linear-gradient(#fa8bff, #2bd2ff);
  background: -webkit-linear-gradient(#fa8bff, #2bd2ff);
  background: linear-gradient(#fa8bff, #2bd2ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social_icon:hover {
  cursor: pointer;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}


@media (min-width: 600px) {
  .name {
    font-size: 10vw;
  }
  .bio-text {
    font-size: 6vw;
  }
  .about {
    font-size: 2.2em;
  }
 
  .intro {
    font-size: 17px;
  }

  .social-icon {
    font-size: 6vw;
  }
  .project {
    font-size: 7vw;
  }
  .connect-description {
    width: 560px;
  }
}

@media (min-width: 736px) {
  .name {
    font-size: 9vw;
  }
  .bio-text {
    font-size: 6vw;
  }
  .intro {
    font-size: VW;
  }
  .social-icon {
    font-size: 5vw;
  }
  .project {
    font-size: 5vw;
  }
}

@media screen and (min-width: 450px) {
  .col {
    margin-left: 45px;
  }
  .bio {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .profile-img {
      position: absolute;
      top: 35%;
      left: -55px;
      width: 220px;
      height: 220px;
  }
}

@media (min-width: 992px) {
  .name {
    font-size: 6vw;
  }
  .bio-text {
    font-size: 4vw;
  }
  .intro {
    font-size: 20px;
  }
  .bubble {
    top: 43.5%;
    left: 50.7%;
  }
  .social-icon {
    font-size: 4vw;
  }
  .project {
    font-size: 5vw;
  }
  .bio {
    left: 10%;
  }

  .profile-img {
    left: 20%;
  }
}

@media (min-width: 1024px) {
  .connect-text {
    font-size: 40px;
  }
  .connect-description {
    width: 580px;
    font-size: 1.2em;
    text-align: center;
  }
  .contact-btn {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .about {
    left: -70px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    left: -190px;
  }
  .name {
    font-size: 6vw;
  }
  .bio-text {
    font-size: 4vw;
  }
  .intro {
    font-size: 20px;
  }
  .social-icon {
    font-size: 3vw;
  }
  .project {
    font-size: 5vw;
  }
  .connect-description {
    width: 580px;
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {
  .bubble {
    left: 50.5%;
  }
}
