@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import "./toggle.css";
@import "./darkmode.css";
@import "./footer.css";
@import "./loading.css";
@import "./responsive.css";

body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px; 
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    
}

body::-webkit-scrollbar-thumb {
    background-image:  linear-gradient(#FA8BFF, #2BD2FF);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


/*end of loader section */

.section { 
    height: 100vh; 
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%; 
 } 

 canvas {
    display: block;
}

.main-section {
    margin-top: 150px;
    margin-bottom: 100px;
}

.hello {
    font-size: 16px;
  
}

h1 {
    font-size: 10vw;
    line-height: 88px;
    font-family: 'Montserrat', cursive;
    color: #05284b;
}

.name {
    font-size: 10vw;
    line-height: 88px;
    font-family: 'Montserrat', cursive;
}

.bio-text {
    font-size: 8vw;
    font-family: 'Montserrat', cursive;
    color: #27556d;
}

.intro {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Montserrat', cursive;
    margin-bottom: 75px;
}

.contact-btn {
    margin-bottom: 100px;
}

.about {
    margin: 120px 0 50px 0; 
    position: relative; 
    left: 120px;
    font-family: 'Major Mono Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-section {
    /* height: 100%; */
    min-height: 100vh;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 150px;
    color: white;
    background: -webkit-linear-gradient(#FA8BFF, #2BD2FF);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   */
}

.bio {
    font-size: 20px;
    line-height: 32px;
    margin-left: 20px;
}

.navbar-brand {
    font-family: 'Major Mono Display', cursive;
    /* font-weight: bold;
    background: -webkit-linear-gradient(#e0eafc, #cfdef3);  */
    /* background: -webkit-linear-gradient(#c6ffdd, #fbd786, #f7797d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.nav-item {
    font-family: 'Major Mono Display', cursive;
    font-weight: bold;
    /* background: -webkit-linear-gradient(#e0eafc, #cfdef3);  */
    /* background: -webkit-linear-gradient(#c6ffdd, #fbd786, #f7797d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.profile-img {
    border-radius: 50%;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align: center;
    margin-left: 80px;
    margin-bottom: 100px;
}

.btn {
    margin-top: 100x;
}

.heart {
    color: red;
    font-size: 14px;
}

.social-icon {
    font-size: 40px;
}

  
p {
    font-family: 'Montserrat', sans-serif;
}

.portfolio {
    height: 100vh;
}


/*projects section*/
.projects-section{
    min-height: 100vh;
    /* margin-top: 100px; */
    margin-bottom: 200px;
    line-height: 1.5;
}

.project {
    font-size: 65px;
    padding-top: 75px;
    margin-bottom: 70px;
}

.file-icon {
    font-size: 40px;
    margin-top: 20px;
}
.github-icon {
   color: #FA8BFF;
   font-size: 24px;
}

.new-window-icon {
    font-size: 24px;
    color: #2BD2FF;
}

.technologies {
    font-size: 12px;
}

  .gradient {
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 5px 1000px 1px #fff inset;
   }

  .btn {
    position: relative;
    z-index: 999;
    border: 2px solid transparent !important;
  }

.gradient:hover {
    box-shadow: none;
    color: white !important;
    cursor: pointer;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.contact-btn:hover{
    list-style-type: none;
    color: white;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.active {
    background: -webkit-linear-gradient(#FA8BFF, #2BD2FF, #2BFF88);
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.social_icon a i{
    font-size: 30px;      
    background: -moz-linear-gradient(#FA8BFF, #2BD2FF);
    background: -webkit-linear-gradient(#FA8BFF, #2BD2FF);
    background: linear-gradient(#FA8BFF, #2BD2FF);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
   }

   .social_icon:hover {
    cursor: pointer;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
   }

   @media (max-width: 320px) {
    .name {
        font-size: 2em;
    }
    .bio-text {
        font-size: 10vw;
        line-height: 60px;
    }

    .profile-img {
        margin-left: 40px;
    }

}
@media (min-width: 411px) {
    .connect-text {
        margin-top: 250px;
    }
}

@media (min-width: 600px) { 
    .name {
        font-size: 10vw;
    }
    .bio-text {
        font-size: 6VW;
    }
    .bio {
        font-size: 3vw;
    }
    .intro {
        font-size: 17px;
    }
    .profile-img {
      margin-left: 140px;
    }
    .social-icon {
        font-size: 6vw;
    }
    .project {
        font-size: 7vw;
    }
    .connect-description {
        width: 560px;
    }
}



@media (min-width: 736px) {
    .name {
        font-size: 9vw;
    }
    .bio-text {
        font-size: 6vw;
    }
    .intro {
        font-size: VW;
    }
    .about {
       left: 182px;
    }
    .bio {
        font-size: 20px;
        text-align: left;
        margin-left: 75px;
    }
    /* .profile-img {
        width: 230px;
        height: 230px;
        float: right;
        margin-top: -350px;
    } */
    .social-icon {
        font-size: 5vw;
    }
    .project {
        font-size: 5vw;
    }
    .bubble {
        left: 49.1%;
        top: 48.5%
    }
}

@media (min-width: 771px) {
    .about {
        left: 130px;
        font-size: 30px;
    }
    .bio {
        margin-left: 125px;
    }
}

@media (min-width: 785px) {
    .bio {
        margin-left: 160px;
    }
    .profile-img {
        margin-left: 190px;
    }
    .about {
        left: 185px;
    }
}

@media (min-width: 815px) {
    .about {
        left: 229px;
        font-size: 34px;
    }
}


@media (min-width: 933px) {
    .bio-text{
        font-size: 4vw;

    }
}
@media (min-width: 992px) {
    .name {
        font-size: 6vw;
    }
    .bio-text {
        font-size: 4vw;
    }
    .intro {
        font-size: 20px;
    }
  
    .bubble {
        top: 48.8%;
        left: 49.2%;
    }
    .social-icon {
        font-size: 4vw;
    }
    .project {
        font-size: 5vw;
    }

    .about{
        margin: 180px 0 20px 0; 
        left: -4px;
    }
    .bio {
        font-size: 18px;
        margin-left: 70px;
    }

    .profile-img {
        position: relative;
        top: -445px;
        left: 380px;
    }
 
}

@media (min-width: 1013px) {
    .bio {
        margin-left: 70px;
    }
    .about {
        left: -5px;
    }

}

@media (min-width: 1024px) {
    .connect-text {
        font-size: 40px;
    }
    .connect-description {
        width: 580px;
        font-size: 14px;
        text-align: center;
    }
    .contact-btn {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .bio {
       margin-left: 30px;
    }
    .about {
        left: -70px;
    }
   
}


@media (min-width: 1200px) {
    .name{
        font-size: 6vw;
    }
    .bio-text {
        font-size: 4vw;
    }
    .intro {
        font-size: 20px;
    }
    .bio {
        font-size: 20px;
    }
    /* .profile-img {
        margin-top: 550px;
        position: relative;
        left: 35px;
    } */
    .social-icon {
        font-size: 3vw;
    }
    .project {
        font-size: 5vw;
    }
    .connect-description {
        width: 580px;
        font-size: 18px;
        text-align: center;
    }
    .bubble {
        left: 49.5%;
    }
    .about{
        margin: 190px 50px 30px 0; 
        left: -70px;
    }

    .bio {
        margin-left: 80px;
    }

    .profile-img {
        position: relative;
        right: -450px;
        top: -445px; 
        left: 550px;
    }
} 
