.moon,
.sun {
  width: 20px;
}

.moon {
  position: relative;
  left: 4px;
  top: -28px;
}

.sun {
  position: relative;
  top: -27px;
  left: 4px;
}

/* .toggle {

} */

.inner-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  left: 2px;

  background: #eff0f2;
  z-index: 35;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.toggle-btn {
  width: 60px;
  height: 30px;
  border: 2px solid black;
  background: -webkit-linear-gradient(#39598a, #79d7ed);
  border-radius: 35px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.toggle-btn.active {
    background: #000428; 
    background: -webkit-linear-gradient(to right, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000428, #004e92); 
}

.toggle-btn.active > .inner-circle {
  margin-left: 31px;
}

.dark-mode {
  background: #222222;
}
