@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

:root {
    --size: 12vmin;
    --loader_w: calc(var(--size) * 6);
	--loader_h: calc(var(--size) * 2.3);
	--bubble: calc(var(--size) * 1.5);
	--shine: calc(var(--size) / 5);
}

body::-webkit-scrollbar {
    width: .5em;
   
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
  
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#c6ffdd, #fbd786, #f7797d);
  
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* loading screen style */

#load_screen {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    z-index: 10;
} 

.bubble {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 2px solid black;
    background: -webkit-linear-gradient(#FA8BFF, #2BD2FF, #2BFF88);
    animation: blow 1.6s linear alternate infinite;
    transform: scale(0.5) translateY(50%);
    outline: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
}

  .shine {
      width: 15px;
      height: 5px;
      background: white;
      border: 2px;
      position: absolute;
      border-radius: 50% 20% 30% 100% / 50% 50% 40% 100% ;
      transform: rotateZ(130deg);
      top: 11%;
      left: 12%;
      -webkit-transform: rotateZ(130deg);
      -moz-transform: rotateZ(130deg);
      -ms-transform: rotateZ(130deg);
      -o-transform: rotateZ(130deg);
      -webkit-border-radius: 50% 20% 30% 100% / 50% 50% 40% 100% ;
      -moz-border-radius: 50% 20% 30% 100% / 50% 50% 40% 100% ;
      -ms-border-radius: 50% 20% 30% 100% / 50% 50% 40% 100% ;
      -o-border-radius: 50% 20% 30% 100% / 50% 50% 40% 100% ;
}

.small-shine {
    width: 5px;
    height: 5px;
    background: white;
    border: 2px;
    position: absolute;
    border-radius: 50% 30% 30% 100% / 100% 50% 40% 100% ;
    transform: rotateZ(130deg);
    top: 32%;
    left: 9%    ;
    -webkit-transform: rotateZ(130deg);
    -moz-transform: rotateZ(130deg);
    -ms-transform: rotateZ(130deg);
    -o-transform: rotateZ(130deg);
    -webkit-border-radius: 50% 30% 30% 100% / 100% 50% 40% 100% ;
    -moz-border-radius: 50% 30% 30% 100% / 100% 50% 40% 100% ;
    -ms-border-radius: 50% 30% 30% 100% / 100% 50% 40% 100% ;
    -o-border-radius: 50% 30% 30% 100% / 100% 50% 40% 100% ;

}
  
  .loading {
    font-family: 'Major Mono Display', monospace;
    font-size: 55px;
    margin-left: -150px;
    background: -webkit-linear-gradient(#FA8BFF, #2BD2FF, #2BFF88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    text-transform: uppercase;

}
  
  @keyframes blow {
      0% {
          transform: scale(0.5) translateY(50%);
      }
      20% {
          transform: scale(0.6) translateY(33%);
      }
      40% {
          transform: scale(0.7) translateY(21%);
      }
      60% {
          transform: scale(0.8) translateY(12%);
      }
      80% {
          transform: scale(0.9) translateY(5%);
      }
      93%, 100% {
          transform: scale(1) translateY(0) translateZ(0);
      }
  }  
/*end of loader section */

.section { 
    height: 100vh; 
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%; 
 } 

 canvas {
    display: block;
}

.main-section {
    margin-top: 150px;
    margin-bottom: 100px;
}

.hello {
    font-size: 16px;
  
}

h1 {
    font-size: 10vw;
    line-height: 88px;
    font-family: 'Montserrat', cursive;
    color: #05284b;
}

.name {
    font-size: 80px;
    line-height: 88px;
    font-family: 'Montserrat', cursive;
}

.bio-text {
    font-size: 65px;
    line-height: 88px;
    font-family: 'Montserrat', cursive;
    color: #27556d;
}

.intro {
    font-size: 20px;
    line-height: 32px;
    font-family: 'Montserrat', cursive;
    margin-bottom: 75px;
}

.contact-btn {
    margin-bottom: 100px;
}

.about {
    margin: 120px 0 50px 0; 
    position: relative;
    left: 67px;
    font-family: 'Major Mono Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-section {
    /* height: 100%; */
    min-height: 100vh;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 150px;
    color: white;
    background: #f7ff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bio {
    font-size: 20px;
    line-height: 32px;
}

.navbar-brand {
    font-family: 'Major Mono Display', cursive;
    /* font-weight: bold;
    background: -webkit-linear-gradient(#e0eafc, #cfdef3);  */
    /* background: -webkit-linear-gradient(#c6ffdd, #fbd786, #f7797d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.nav-item {
    font-family: 'Major Mono Display', cursive;
    font-weight: bold;
    /* background: -webkit-linear-gradient(#e0eafc, #cfdef3);  */
    /* background: -webkit-linear-gradient(#c6ffdd, #fbd786, #f7797d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.profile-img {
    border-radius: 50%;
    margin-top: 200px;
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align: center;
    margin-left: 100px;
}

.btn {
    margin-top: 100x;
}

.heart {
    color: red;
    font-size: 14px;
}

.social-icon {
    font-size: 40px;
}

p {
    font-family: 'Montserrat', sans-serif;
}
   


@media only screen
and (min-device-width : 360px)
and (min-device-width : 480px){

    .name {
        font-size: 8vw;
    }
    .bio-text {
        font-size: 8vw;
    }
    .intro {
        font-size: 18px;
    }
    .profile-img {
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 80px;
    }
    .lead {
        font-size: 15px;
        line-height: 1.5;
        color: blue;
    }
}

@media (max-width: 23.5em) {
    .name {
        font-size: 40px;
        line-height: 60px;
    }
    .bio-text {
        font-size: 40px;
        line-height: 60px;
    }
    .intro {
        font-size: 18px;
    }
    .profile-img {
        width: 200px;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 100px;
        margin-left: 65px;
    }
    .loading {
        font-size: 40px;
        left: 228px;
        top: 50%;
        
    } 
    .bubble {
        top: 35.5%;
        width: 40px;
        height: 40px;
    } 
}

@media (max-width: 30em) {
    .name {
        font-size: 50px;
        margin-bottom: -10px;
    }
    .bio-text {
        font-size: 50px;
    }
    .profile-img {
        width: 250px;
        height: 250px;
        margin-top: 70px;
        margin-left: 65px;
        margin-bottom: 80px;
    }

    .bio {
        font-size: 18px;
    }
    .loading {
        font-size: 50px;
        left: 460px;
        top: 50%;
    }
    .bubble {
        left: 54%;
        top: 50px;
    }
} 

@media (max-width: 48em) {
    .name {
        font-size: 60px;
        margin-bottom: -10px;
    }
    .bio-text {
        font-size: 60px
    }
    .intro {
        font-size: 20px;
    }

} 

@media (min-width: 320px) {
    .name {
        font-size: 10vw;
    }
    .bio-text {
        font-size: 10vw;
        line-height: 60px;
    }

    .profile-img {
        margin-left: 40px;
    }
    .loading {
        font-size: 45px;
        left: 218px;
        top: 48%;
    } 
    .bubble {
        top: 45.3%;
        left: 54.9%;
    } 
}
@media (min-width: 411px) {
    .loading {
        top: 43%;
        left: 57%;
    }
    .bubble {
        top: 40%;
        left: 51.4%;
    }
}

@media (min-width: 375px) {
    .loading {
        top: 37%;
        left: 57.8%;
    }
    .bubble {
        top: 35%;
        left: 52.4%; 
    }
}

@media (min-width: 600px) { 
    .name {
        font-size: 9vw;
    }
    .bio-text {
        font-size: 7vw;
    }
    .intro {
        font-size: 17px;
    }
    .loading {
        margin-left: -100px;
    }
    .profile-img {
        margin-top: 50px;
        margin-bottom: 150px;
        margin-left: 120px;
    }
    .bubble {
        top: 28.5%;
        left: 45.7%;
    } 
    .social-icon {
        font-size: 6vw;
    }
    .project {
        font-size: 7vw;
    }
    .loading {
        top: 30%;
        left: 38%;
    }
    .lead {
        color: red;
        font-size: 18px;
    }
}



@media (min-width: 768px) {
    .name {
        font-size: 8vw;
    }
    .bio-text {
        font-size: 46px;
    }
    .intro {
        font-size: 18px;
    }
    .bio {
        font-size: 20px;
    }
    .profile-img {
        margin-top: 50px;
        margin-left: 170px;
    }
    .social-icon {
        font-size: 5vw;
    }
    .bubble {
        top: 28%;
        left: 43.3%;
        
    }
    .loading {
        font-size: 45px;
        top: 50%;
        left: 40%;
    } 
    .project {
        font-size: 5vw;
    }
    .lead {
        color: purple;
    }

}

@media (min-width: 992px) {
    .name {
        font-size: 6vw;
    }
    .bio-text {
        font-size: 5vw;
    }
    .intro {
        font-size: 20px;
    }
    .bio{
        font-size: 20px;
       
    }
    .bubble {
        top: 42.8%;
    
    }
    .loading {
        top: 48%;
        left: 47%;
    }

    .profile-img {
        margin-top: 200px;
        /* margin-right: 15px; */
        margin-right: 10px;
        
    }
    .social-icon {
        font-size: 4vw;
    }
    .project {
        font-size: 5vw;
    }
    .lead {
        color: gold;
    }
}

@media (min-width: 1024px) {
    .loading {
        font-size: 50px;
    }
    .bubble {
        left: 31.2%;

    }
}


@media (min-width: 1200px) {
    .name{
        font-size: 6vw;
    }
    .bio-text {
        font-size: 4vw;
    }
    .intro {
        font-size: 20px;
    }
    .bio {
        font-size: 20px;
    }
    .bubble {
        left: 48%;
        top: 48%;
    }
    .loading {
        top: 50%;
        left: 45%;
    }
    .profile-img {
        margin-top: 250px;
    }
    .social-icon {
        font-size: 3vw;
    }
    .project {
        font-size: 5vw;
    }
}

.portfolio {
    height: 100vh;
}


/*projects section*/
.projects-section{
    min-height: 100vh;
    /* margin-top: 100px; */
    margin-bottom: 200px;
    line-height: 1.5;
}

.project {
    font-size: 65px;
    padding-top: 75px;
    margin-bottom: 70px;
}

.file-icon {
    font-size: 40px;
    margin-top: 20px;
  
}
.github-icon, .new-window-icon {
    font-size: 24px;
    margin: 20px 0 20px 0;
}

.technologies {
    font-size: 12px;
   
}


/* footer section */

#contact {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.connect-text {
    margin: 150px 0 55px 0;
    font-family: 'Major Mono Display', sans-serif;

}

.point-up {
    font-size: 30px;
    animation-name: point-up-animation;
    animation-duration: 1.7s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    /* float: right; */
    /* position: relative;
    left: 335px; */
}

@keyframes point-up-animation {
    0%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    20%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40%{
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    50%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    60%{
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
    80%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
